@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #b5179e;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .container{
    background: pink;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .entry-container{
    background-color: #FFF;
    min-width: 25vw;
      height: 95vh;
    padding: 30px;
    padding-top:10px;
    /* box-sizing: border-box; */
    border-radius:30px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
   
}
.entry-container::-webkit-scrollbar {
	display: none;
}
  .title{
    color: #b5179e;
    text-align: center;
    margin-top: 0;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  input{
    padding: 10px;
    border-radius:20px;
    border: 0.5px solid gainsboro;
  }

  .select-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 10px;
    /* gap:2px; */
  }
  .select-container-title{
   
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .select-type{
    margin-bottom: 10px;
  }
  .amount-input{
    margin-top: 0;
    margin-bottom: 10px;
  }
  textarea{
    border-radius: 20px;
    height:5rem;
    padding: 10px;
    border: 0.5px solid gainsboro;
  }
  .add-button{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: linear-gradient(to right, #ab1dcf, #f80759);
    box-shadow: rgba(0, 0, 0, 0.3)0px 10px 20px;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
  }

  .table-list{
    padding: 20px;
    width: 100%;
  }
  .table-row{
    padding: 10px;
  }
  .table-cell{
    width: 50%;
    padding: 20px;
    border:1px solid grey;
    text-align: center;
  }